<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cashfree Checkout Integration</title>
    <script src="https://sdk.cashfree.com/js/v3/cashfree.js"></script>

    <style>
        .center {
            display: flex;
            flex-direction : column;
            justify-content: center;
            align-items: center;
            height : 100vh;
        }
        .payment-gif {
            max-width: 80%; /* Ensure image doesn't exceed viewport width */
            height: auto;
        }
    </style>


</head>
<body>

<div class="center">
    <img class="payment-gif" th:src="@{/images/payment.gif}" alt="Payment in progress"/>
    <h3 style="opacity:0.5"> Don't refresh page we are redirecting you payment page. </h3>
</div>



    <input type="hidden" id="servicePlanSlug" th:value="${servicePlanSlug}">
    <input type="hidden" id="userSlug" th:value="${userSlug}">
<script>
    const cashfree = Cashfree({
        mode: "sandbox",
    });
    const redirectPaymentPage = async () => {
        let paymentSessionId = await requestForPaymentSessionId();
        let checkoutOptions = {
            paymentSessionId: paymentSessionId,
            redirectTarget: "_self",
        };

        try {
            let result =  await cashfree.checkout(checkoutOptions);
            console.log(result);
        }catch(err){
            console.log(err);
        }
    }



    const requestForPaymentSessionId = async () =>{
        let userSlug = document.getElementById("userSlug").value;
        let servicePlanSlug = document.getElementById("servicePlanSlug").value;
        let data = JSON.stringify({
            "servicePlanSlug" : servicePlanSlug,
            "userSlug" : userSlug
        });
        let paymentSessionId = null;
        await fetch("/cashfree/sessionId",{
            headers  : {
                "Content-Type" : 'application/json;'
            },
            method : 'post',
            body : data
        }).then(res => res.json())
        .then(data => {
            paymentSessionId = data.res.paymentSessionId;
        })
        .catch(err => console.log(err));

        return paymentSessionId;
    }
    redirectPaymentPage();


</script>
</body>
</html>
