name: CI with SonarCloud

on:
  push:
    branches: [ main, develop ]
  pull_request:

jobs:
  sonar:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Build + SonarCloud Scan
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: |
          mvn clean verify sonar:sonar \
            -Dsonar.projectKey=nareshswami199_WHOLESALE-ADMIN-PANEL-SPRINGBOOT \
            -Dsonar.organization=nareshswami199 \
            -Dsonar.host.url=https://sonarcloud.io
